<form>
  <div class="form-group">
    <p class="question">How would you describe this lesion on the T2WI? Check all that apply.</p>
    <div class="checkbox">
      <label>
        <input type="checkbox" class="quiz-checkbox"> 1. Hypertense
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" class="quiz-checkbox"> 2. Mildly Hypertense
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" class="quiz-checkbox"> 3. Moderately Hypertense
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" class="quiz-checkbox"> 4. Linear or Wedgeshaped
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" class="quiz-checkbox"> 5. Round, Oval, or Irregular
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" class="quiz-checkbox"> 6. Heterogeneous
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" class="quiz-checkbox"> 7. Circumscribed
      </label>
    </div>
  </div>

  <div class="form-group">
    <p class="question">How would you describe this lesion on the T2WI? Check all that apply.</p>
    <div class="checkbox">
      <label>
        <input type="checkbox" class="quiz-checkbox"> 1. Hypertense
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" class="quiz-checkbox"> 2. Mildly Hypertense
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" class="quiz-checkbox"> 3. Moderately Hypertense
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" class="quiz-checkbox"> 4. Linear or Wedgeshaped
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" class="quiz-checkbox"> 5. Round, Oval, or Irregular
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" class="quiz-checkbox"> 6. Heterogeneous
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" class="quiz-checkbox"> 7. Circumscribed
      </label>
    </div>
  </div>

  <div class="form-group">
    <p class="question">How would you describe this lesion on the T2WI? Check all that apply.</p>
    <div class="checkbox">
      <label>
        <input type="checkbox" class="quiz-checkbox"> 1. Hypertense
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" class="quiz-checkbox"> 2. Mildly Hypertense
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" class="quiz-checkbox"> 3. Moderately Hypertense
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" class="quiz-checkbox"> 4. Linear or Wedgeshaped
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" class="quiz-checkbox"> 5. Round, Oval, or Irregular
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" class="quiz-checkbox"> 6. Heterogeneous
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" class="quiz-checkbox"> 7. Circumscribed
      </label>
    </div>
  </div>

  <div class="form-group">
    <p class="question">How would you describe this lesion on the T2WI? Check all that apply.</p>
    <div class="checkbox">
      <label>
        <input type="checkbox" class="quiz-checkbox"> 1. Hypertense
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" class="quiz-checkbox"> 2. Mildly Hypertense
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" class="quiz-checkbox"> 3. Moderately Hypertense
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" class="quiz-checkbox"> 4. Linear or Wedgeshaped
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" class="quiz-checkbox"> 5. Round, Oval, or Irregular
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" class="quiz-checkbox"> 6. Heterogeneous
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" class="quiz-checkbox"> 7. Circumscribed
      </label>
    </div>
  </div>
  </form>