<section id="page-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1 class="med-dark-gray-text">Colors</h1>
      </div>
    </div>
  </div>
  
</section>

<section id="radx-colors">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 squash">
        <h4 class="med-dark-gray-text">SQUASH #eca349</h4>
      </div>
      <div class="col-md-2 stone">
        <h4 class="dark-gray-text">STONE #e6e1d5</h4>
      </div>
      <div class="col-md-2 med-dark-gray">
        <h4>MEDIUM DARK GRAY #363636</h4>
      </div>
      <div class="col-md-2 dark-gray">
        <h4>DARK GRAY #252525</h4>
      </div>
      <div class="col-md-2 med-blue">
        <h4>MEDIUM BLUE #0881b9</h4>
      </div>
      <div class="col-md-2 dark-blue">
        <h4>DARK BLUE #262f41</h4>
      </div>
    </div>

    <div class="col-md-2 color-usage">
        <h4>SQUASH #eca349</h4>
        <ul>
          <li>Accent</li>
          <li>Notifications</li>
          <li>Use with caution</li>
        </ul>
      </div>
      <div class="col-md-2 color-usage">
        <h4>STONE #e6e1d5</h4>
        <ul>
          <li>Background</li>
          <li>Reverse text color on dark background</li>
        </ul>
      </div>
      <div class="col-md-2 color-usage">
        <h4>MEDIUM DARK GRAY #363636</h4>
        <ul>
          <li>General/Body text</li>
          <li>Use with medium to small text</li>
        </ul>
      </div>
      <div class="col-md-2 color-usage">
        <h4>DARK GRAY #252525</h4>
        <ul>
          <li>Header tag color</li>
          <li>In larger font sizes can be used against med gray</li>

        </ul>
      </div>
      <div class="col-md-2 color-usage">
        <h4>MEDIUM BLUE #0881b9</h4>
        <ul>
          <li>Header tag color</li>
          <li>Secondary accent color</li>
        </ul>
      </div>
      <div class="col-md-2 color-usage">
        <h4>DARK BLUE #262f41</h4>
        <ul>
          <li>Link color on light background</li>
          <li>Smaller header color</li>
        </ul>
      </div>
    </div>
</div>
</section>