
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Panels</h1>
    </div>
  </div>
</div>

<section id="panels">
<div class="container-fluid">

<div class="row">
  <div class="col-md-12">
    <h3 class="squash-text">Panels - 4 Up</h3>
    <p class="lead stone-text">3rd iteration. Large thumbnail image is on top with text details below.</p>
  </div>
</div>


    <div class="row">
      <div class="col-md-3">
        <div class="panel panel-default" style="height:auto;">
          <div class="panel-heading">
            <!-- <h3 class="panel-title" style="display:inline-block;width:50%;">Rad-Pattern 1</h3>
            <p class="text-right" style="display:inline-block;width:50%;">HELLO</p> -->
            <div class="row">
              <div class="col-xs-6"><h3 class="panel-title">Rad-Pattern 3</h3></div>
              <div class="col-xs-6"><p class="panel-title text-right" style="font-size:11px;color:green;padding-top:2px;padding-bottom:0px;font-weight:bold;">COMPLETED <span class="fa fa-check"></span></p></div>
            </div>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <img src="http://placehold.it/500x500" class="img-responsive" />
              </div>
              <div class="col-md-6">
                <h6>Clinical History:</h6>
                <p>50 year old male for prostate MRI</p>

                <h6>Modality:</h6>
                <p>MR</p>
              </div>
              <div class="col-md-6">
                <h6>Sub-Specialty:</h6>
                <p>Body</p>

                <h6>Author:</h6>
                <p>Daniel Cornfield</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default" style="height:auto;">
          <div class="panel-heading">
            <!-- <h3 class="panel-title" style="display:inline-block;width:50%;">Rad-Pattern 1</h3>
            <p class="text-right" style="display:inline-block;width:50%;">HELLO</p> -->
            <div class="row">
              <div class="col-xs-6"><h3 class="panel-title">Rad-Pattern 3</h3></div>
              <div class="col-xs-6"><p class="panel-title text-right" style="font-size:11px;color:red;padding-top:2px;padding-bottom:0px;font-weight:bold;">NOT COMPLETED <span class="fa fa-times"></span></p></div>
            </div>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <img src="http://placehold.it/500x500" class="img-responsive" />
              </div>
              <div class="col-md-6">
                <h6>Clinical History:</h6>
                <p>50 year old male for prostate MRI</p>

                <h6>Modality:</h6>
                <p>MR</p>
              </div>
              <div class="col-md-6">
                <h6>Sub-Specialty:</h6>
                <p>Body</p>

                <h6>Author:</h6>
                <p>Daniel Cornfield</p>
              </div>
            </div>
          </div>
        </div>
      </div>      <div class="col-md-3">
        <div class="panel panel-default" style="height:auto;">
          <div class="panel-heading">
            <!-- <h3 class="panel-title" style="display:inline-block;width:50%;">Rad-Pattern 1</h3>
            <p class="text-right" style="display:inline-block;width:50%;">HELLO</p> -->
            <div class="row">
              <div class="col-xs-6"><h3 class="panel-title">Rad-Pattern 3</h3></div>
              <div class="col-xs-6"><p class="panel-title text-right" style="font-size:11px;color:red;padding-top:2px;padding-bottom:0px;font-weight:bold;">NOT COMPLETED <span class="fa fa-times"></span></p></div>
            </div>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <img src="http://placehold.it/500x500" class="img-responsive" />
              </div>
              <div class="col-md-6">
                <h6>Clinical History:</h6>
                <p>50 year old male for prostate MRI</p>

                <h6>Modality:</h6>
                <p>MR</p>
              </div>
              <div class="col-md-6">
                <h6>Sub-Specialty:</h6>
                <p>Body</p>

                <h6>Author:</h6>
                <p>Daniel Cornfield</p>
              </div>
            </div>
          </div>
        </div>
      </div>      <div class="col-md-3">
        <div class="panel panel-default" style="height:auto;">
          <div class="panel-heading">
            <!-- <h3 class="panel-title" style="display:inline-block;width:50%;">Rad-Pattern 1</h3>
            <p class="text-right" style="display:inline-block;width:50%;">HELLO</p> -->
            <div class="row">
              <div class="col-xs-6"><h3 class="panel-title">Rad-Pattern 3</h3></div>
              <div class="col-xs-6"><p class="panel-title text-right" style="font-size:11px;color:green;padding-top:2px;padding-bottom:0px;font-weight:bold;">COMPLETED <span class="fa fa-check"></span></p></div>
            </div>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <img src="http://placehold.it/500x500" class="img-responsive" />
              </div>
              <div class="col-md-6">
                <h6>Clinical History:</h6>
                <p>50 year old male for prostate MRI</p>

                <h6>Modality:</h6>
                <p>MR</p>
              </div>
              <div class="col-md-6">
                <h6>Sub-Specialty:</h6>
                <p>Body</p>

                <h6>Author:</h6>
                <p>Daniel Cornfield</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- row 1 end -->

    <div class="row">
      <div class="col-md-3">
        <div class="panel panel-default" style="height:auto;">
          <div class="panel-heading">
            <!-- <h3 class="panel-title" style="display:inline-block;width:50%;">Rad-Pattern 1</h3>
            <p class="text-right" style="display:inline-block;width:50%;">HELLO</p> -->
            <div class="row">
              <div class="col-xs-6"><h3 class="panel-title">Rad-Pattern 3</h3></div>
              <div class="col-xs-6"><p class="panel-title text-right" style="font-size:11px;color:green;padding-top:2px;padding-bottom:0px;font-weight:bold;">COMPLETED <span class="fa fa-check"></span></p></div>
            </div>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <img src="http://placehold.it/500x500" class="img-responsive" />
              </div>
              <div class="col-md-6">
                <h6>Clinical History:</h6>
                <p>50 year old male for prostate MRI</p>

                <h6>Modality:</h6>
                <p>MR</p>
              </div>
              <div class="col-md-6">
                <h6>Sub-Specialty:</h6>
                <p>Body</p>

                <h6>Author:</h6>
                <p>Daniel Cornfield</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default" style="height:auto;">
          <div class="panel-heading">
            <!-- <h3 class="panel-title" style="display:inline-block;width:50%;">Rad-Pattern 1</h3>
            <p class="text-right" style="display:inline-block;width:50%;">HELLO</p> -->
            <div class="row">
              <div class="col-xs-6"><h3 class="panel-title">Rad-Pattern 3</h3></div>
              <div class="col-xs-6"><p class="panel-title text-right" style="font-size:11px;color:red;padding-top:2px;padding-bottom:0px;font-weight:bold;">NOT COMPLETED <span class="fa fa-times"></span></p></div>
            </div>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <img src="http://placehold.it/500x500" class="img-responsive" />
              </div>
              <div class="col-md-6">
                <h6>Clinical History:</h6>
                <p>50 year old male for prostate MRI</p>

                <h6>Modality:</h6>
                <p>MR</p>
              </div>
              <div class="col-md-6">
                <h6>Sub-Specialty:</h6>
                <p>Body</p>

                <h6>Author:</h6>
                <p>Daniel Cornfield</p>
              </div>
            </div>
          </div>
        </div>
      </div>        
    </div>
    </div>
  </section>