<section id="quiz-template">

  <div class="container-fluid" id="quiz-template-nav">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-pills">
          <li><a href="#">Courseware</a></li>
          <li><a href="#">Course Info</a></li>
          <li><a href="#">Discussion</a></li>
          <li><a href="#">Wiki</a></li>
          <li><a href="#">Progress</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container-fluid" id="quiz-template-quiz">
    <div class="row">


    </div>
    <div class="row">
      <div class="col-md-12" id="quiz-inner">

        <div class="row" id="gallery-back-next">
          <div class="col-md-6 text-left">
            <a href="#"><span class="fa fa-home fa-2x"></span> Go Back to Gallery</a>
          </div>
          <div class="col-md-3 text-left">
              <a href="#"><span class="fa fa-caret-left"></span> Previous Item in Gallery</a>
          </div>
          <div class="col-md-3 text-right">
            <a href="#">Next Item in Gallery <span class="fa fa-caret-right"></span></a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <h3>Rad-Pattern: 6</h3>
            <h4>Clinical History:</h4>
            <p>50 year old male for prostate MRI</p>

            <form>

            </form>

          </div>
          <div class="col-md-6">
            <%= image_tag 'study.png', class: 'img-responsive' %>
          </div>
        </div>
      </div>
    </div>
  </div>





</section>

