$navbar-height:60px;
$navbar-border-radius: 0;


$med-dark-gray:#363636;
$dark-gray:#252525;
$squash:#eca349;
$yellow:#fff200;
$stone:#e6e1d5;
$med-blue:#0881b9;
$dark-blue:#262f41;

$white5:rgba(255,255,255,.5);
$white3:rgba(255,255,255,.3);
$white1:rgba(255,255,255,.1);

#radx-colors .squash,
#radx-colors .stone,
#radx-colors .dark-gray,
#radx-colors .med-dark-gray,
#radx-colors .med-blue,
#radx-colors .dark-blue {
  height:100px;
  color:$stone;
}

.squash         {background-color:$squash;}
.stone          {background-color:$stone;}
.dark-gray      {background-color:$dark-gray;}
.med-dark-gray  {background-color:$med-dark-gray;}
.med-blue       {background-color:$med-blue;}
.dark-blue      {background-color:$dark-blue;}

.squash-text         {color:$squash;}
.stone-text          {color:$stone;}
.dark-gray-text      {color:$dark-gray;}
.med-dark-gray-text  {color:$med-dark-gray;}
.med-blue-text       {color:$med-blue;}
.dark-blue-text      {color:$dark-blue;}






.navbar-brand img {margin-top:-10px;}

// QUIZ TEMPLATE STYLES
#quiz-template {
  height:100vh;
  background-color:$med-dark-gray;
  margin-top:-20px;
}

.report-template {
  border:1px solid $med-dark-gray;
  background-color:lighten($med-dark-gray, 70%);
  height:100vh;
}

#quiz-template-nav {
  ul {margin:10px 0px;}
  a {
    color:$yellow;
    &:hover {
      color:darken($yellow, 10%);
      background-color:lighten($med-dark-gray, 10%);
    }
  }
}

#quiz-template-quiz {
  padding:0px 30px;

  #quiz-inner {
    padding:20px 20px;
    background-color:$dark-gray;
    min-height:85vh;

    border-radius:7px;

  }

  #quiz-report {
    h3 {border-bottom:1px dotted $white3;font-weight:200;padding-bottom:.5em;}
    h3, h4 {color:$white5;}
    p, label {color:$white5;font-weight:200;}

    .question {color:$white5;font-size:15px;font-weight:200;}
  }

    #quiz-report-2 {
    h3 {border-bottom:1px dotted $med-dark-gray;font-weight:200;padding-bottom:.5em;}
    h3, h4 {color:$med-dark-gray;}
    p, label {color:$med-dark-gray;font-weight:200;}

    .question {color:$med-dark-gray;font-size:15px;font-weight:200;}
  }

div.quizbox {
  border:1px solid $white1;
  height:85vh;
  padding:20px;
  margin-top:20px;
  display:block;
  overflow:scroll;
  background-color:lighten($dark-gray, 2%);

  -moz-box-shadow:    inset  0  15px 15px -15px rgba(0,0,0,.5), 
                      inset  0 -15px 15px -15px rgba(0,0,0,.5);
  -webkit-box-shadow: inset  0  15px 15px -15px rgba(0,0,0,.5), 
                      inset  0 -15px 15px -15px rgba(0,0,0,.5);
  box-shadow:         inset  0  15px 15px -15px rgba(0,0,0,.5), 
                      inset  0 -15px 15px -15px rgba(0,0,0,.5),;
}

#report-quizbox {
  background-color:lighten($med-dark-gray, 70%);
  border:1px solid lighten($med-dark-gray, 50%);

}

//CHECKBOX STYLES
  .quiz-checkbox {
    -webkit-appearance: none;
    border:1px solid $med-dark-gray;
    // border:1px solid $white5;
    padding:7px;
    border-radius:2px;
    display:inline-block;
    position: relative;
    top:2px;
    margin-right:5px;

  }

  .quiz-checkbox:active, .quiz-checkbox:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
  }

  .quiz-checkbox:checked {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
  }

  .quiz-checkbox:checked:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: -2px;
    left: 3px;
    color: #000000;
  }

//CHECKBOX STYLES END

  #gallery-back-next {
    padding:0px 0px 20px 0px;
    a {
      color:rgba(255,255,255,.3);

    }
  }
}



// PANELS

#panels {
  
  padding:20px 0px 80px 0px;
  background-color:$med-dark-gray;
}

.panel {height:350px;}
.panel-body table td {font-size:11px;}
.panel-body table td.t-label {font-weight:bold;text-align:right;}
.panel-body p {font-size:11px;margin-top:0; margin-bottom:1.5em;}
.panel-body h6 {margin-bottom:0px;font-size:11px;font-weight:bold;}

span.fa-check {color:green !important;}
span.fa-times {color:red !important;}

// PANELS END